default: &default
  adapter: postgresql
  host: db
  username: postgres
  password: password
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: sopha-api-test_development
test:
  <<: *default
  database: sopha-api-test_test
production:
  <<: *default
  database: sopha-api-test_production
  username: sopha-api-test
  password: <%= ENV['SOPHA-API-TEST_DATABASE_PASSWORD'] %>
